.attendance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.month-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.employee__leave__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}

.employee-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 77%;
  gap: 30%;
  margin-left: 0%;
  border: 1px solid black;
}

.employee-name-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  /* width: 100%; */
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
}


.employee-leave-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  /* width: 100%; */
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}
