.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 20px;
  box-sizing: border-box;
}

.calendar .calendar__header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.calendar .calendar-header .calendar-header-title {
  font-size: 20px;
  font-weight: bold;
}

.calendar .calendar-header .calendar-header-button {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.fas {
  color: #000000;
}

.calendar .calendar-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.calendar .calendar-body .calendar-body-header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.calendar__week {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  box-sizing: border-box;
}

.calendar__weekdays {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.calendar__weekdays .calendar__weekday {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.calendar__days {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.calendar__day {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* Add border */
  border: 1px solid #605f5f;
}

.calendar__day__active {
  background: rgb(203, 203, 248);
}

.calendar__day__absent {
  background: rgb(153, 153, 248);
}

.calendar__day__paidleave {
  background: rgb(128, 128, 246);
}

.calendar__day__halfday {
  background: rgb(171, 171, 238);
}

.calendar__day__inactive {
  background: rgb(255, 142, 77);
}

.calendar__day__tuesday {
  background: rgb(226, 197, 174);
}
